<div class="row" style="margin-top: 2em">
    <div class="col-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{coll.name}}</h5>
                <pre>{{coll.cid}}</pre>
                <p class="card-text">{{coll.desc}}</p>
            </div>
        </div>
        <div id="list">

        </div>
    </div>
    <div class="col-9">
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand" href="#">Notes</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#" onclick="renderNotes()"><i class="fas fa-sync"></i> Cache</a>
                    </li>
                    {{#if user.admin}}
                        <li class="nav-item">
                            <a class="nav-link" href="#" data-action="add"
                               data-toggle="modal" data-target="#admin_collection_popup">
                                <i class="fas fa-plus"></i> New
                            </a>
                        </li>
                    {{/if}}
                </ul>
            </div>
        </nav>
        <script src="https://kit.fontawesome.com/c32b3db897.js" crossorigin="anonymous"></script>
        <div id="display">

        </div>
    </div>
</div>
<script>
    const coll = {cid: '{{coll.cid}}', name: '{{coll.name}}', desc: '{{coll.desc}}'};

    const list = document.getElementById('list');
    const display = document.getElementById('display');

    async function renderNotes() {
        let notes = await window.notes
                .getAll(coll.cid);
        console.log(notes);
        list.innerHTML = notes.map(note => `
            <pre>${JSON.stringify(note)}</pre>
        `).join("");
    }

    window.onload = e => {
        renderNotes();
    }
</script>
