<script src="/codemirror/codemirror.min.js"></script>
<script src="/codemirror/mode/htmlmixed/htmlmixed.min.js"></script>
<script src="/codemirror/mode/xml/xml.min.js"></script>
<script src="/codemirror/mode/javascript/javascript.min.js"></script>
<script src="/codemirror/mode/css/css.min.js"></script>
<script src="/codemirror/addon/fold/xml-fold.min.js"></script>
<script src="/codemirror/addon/edit/closetag.min.js"></script>
<script src="/codemirror/addon/edit/matchtags.min.js"></script>
<script src="/codemirror/addon/edit/closebrackets.min.js"></script>
<script src="/codemirror/addon/search/search.min.js"></script>
<script src="/codemirror/addon/search/searchcursor.min.js"></script>
<script src="/codemirror/addon/search/jump-to-line.min.js"></script>
<script src="/codemirror/addon/dialog/dialog.min.js"></script>

<script src="/codemirror/addon/fold/foldcode.min.js"></script>
<script src="/codemirror/addon/fold/foldgutter.min.js"></script>

<script src="/codemirror/addon/fold/brace-fold.min.js"></script>
<script src="/codemirror/addon/fold/xml-fold.min.js"></script>
<script src="/codemirror/addon/fold/indent-fold.min.js"></script>
<script src="/codemirror/addon/fold/comment-fold.min.js"></script>

<link rel="stylesheet" href="/codemirror/addon/fold/foldgutter.min.css">
<link rel="stylesheet" href="/codemirror/addon/dialog/dialog.min.css"/>
<link rel="stylesheet" href="/codemirror/codemirror.min.css"/>
<link rel="stylesheet" href="/codemirror/theme/darcula.min.css"/>
<link rel="stylesheet" href="/codemirror/theme/idea.min.css"/>

<script src="/js/progressbar.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/js-beautify/1.13.0/beautify.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/js-beautify/1.13.0/beautify-css.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/js-beautify/1.13.0/beautify-html.min.js"></script>

<nav class="navbar navbar-expand navbar-light bg-light">
    <a class="navbar-brand ml-4" href="#">Editor <span class="badge badge-success">Beta</span></a>
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="#" id="save-btn">Save</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" id="format-btn">Format</a>
        </li>
    </ul>
</nav>
<textarea id="editor"></textarea>
<style>
    .container-fluid {
        position: static;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .CodeMirror {
        height: 100%;
    }

    .CodeMirror.disabled {
        filter: grayscale(0.2);
        background: #dfdfdf;
    }
</style>
<script>
    qs('.container').className = "container-fluid";
    const coll = {cid: '{{coll.cid}}', name: '{{coll.name}}', desc: '{{coll.desc}}'};
    const note = {
        nid: '{{note.nid}}',
        name: '{{note.name}}',
        desc: '{{note.desc}}',
        url: '{{{note.url}}}',
        lastEdit: {{note.lastEdit}}
    };
    const editorArea = GEBI('editor');
    const saveBtn = GEBI('save-btn');
    const formatBtn = GEBI('format-btn');
    const editor = CodeMirror.fromTextArea(editorArea, {
        lineNumbers: true,
        mode: "htmlmixed",
        theme: "idea",
        indentUnit: 4,

        foldGutter: true,
        gutters: ["CodeMirror-linenumbers", "CodeMirror-foldgutter"],

        autoCloseBrackets: true,
        autoCloseTags: true,
        matchTags: true,

        extraKeys: {Tab: cm => cm.replaceSelection(Array(cm.getOption("indentUnit") + 1).join(" "))}
    });
    let saving = false;
    saveBtn.onclick = CodeMirror.commands.save = async function () {
        if (saving) return;
        saving = true;
        saveBtn.className = formatBtn.className = 'nav-link disabled';
        editor.setOption("readOnly", true);
        editor.getWrapperElement().classList.add('disabled');
        const formData = new FormData();
        formData.append('note_source', new Blob([editor.getDoc().getValue()], {type: 'application/html'}), 'note_source.html');
        let result = await fetcher(`/api/collections/${coll.cid}/notes/${note.nid}/upload`, {
            method: 'POST',
            body: formData
        });
        console.log(result);
        saveBtn.className = formatBtn.className = 'nav-link';
        editor.setOption("readOnly", false);
        editor.getWrapperElement().classList.remove('disabled');
        saving = false;
    };
    formatBtn.onclick = function () {
        editor.getDoc().setValue(html_beautify(editor.getDoc().getValue(), {
            "indent_size": "4",
            "indent_char": " ",
            "max_preserve_newlines": "2",
            "preserve_newlines": true,
            "keep_array_indentation": false,
            "break_chained_methods": false,
            "indent_scripts": "keep",
            "brace_style": "collapse,preserve-inline",
            "space_before_conditional": true,
            "unescape_strings": false,
            "jslint_happy": false,
            "end_with_newline": false,
            "wrap_line_length": "0",
            "indent_inner_html": false,
            "comma_first": false,
            "e4x": false,
            "indent_empty_lines": false
        }));
        editor.refresh();
    }
    editor.setSize("100%", "100%");
    window.onload = () => {
        fetch(note.url).then(res => res.text()).then(text => {
            editor.getDoc().setValue(text);
            editor.refresh();
        });
    }
</script>