<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>{{title}}</title>
    <meta name="csrf-token" content="{{csrf}}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover"/>
    <script src="/js/cookies.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link href="/css/bootstrap-drawer.min.css" rel="stylesheet">
</head>
<body class="has-drawer">
<div id="drawer" class="drawer dw-xs-10 dw-sm-6 dw-md-4 fold" aria-labelledby="drawer">
    <div class="drawer-controls">
        <a href="#drawer" data-toggle="drawer" aria-foldedopen="false" aria-controls="drawer"
           class="btn btn-primary btn-sm">Menu</a>
    </div>
    <div class="drawer-contents">
        <div class="drawer-heading">
            <h2 class="drawer-title">Menu</h2>
        </div>
        <div class="drawer-body">
            <div class="card">
                <div class="row g-0">
                    <div class="col-md-2">
                        <img style="border-top-left-radius:.25rem;border-bottom-left-radius:.25rem"
                             src="{{#if user}}{{#if user.pfp}}{{user.pfp}}{{else}}/images/guest.png{{/if}}{{else}}/images/guest.png{{/if}}" alt="" width="100%">
                    </div>
                    <div class="col-md-10">
                        <div class="card-body" style="padding: .5rem 1rem;">
                            <h6 class="card-title">{{#if user}}{{user.name}}{{else}}Guest{{/if}}</h6>
                            <small class="card-text">{{#if user}}{{user.email}}{{else}}
                                Please <a href="javascript:window.authSignIn()">login</a>{{/if}}</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <ul class="drawer-nav">
            <li id="nav_home" role="presentation"><a href="/">Home</a></li>
            <li id="nav_user" role="presentation"><a href="/users">Users</a></li>
            {{#if user.admin}}
                <li id="nav_admin" role="presentation"><a href="/admin">Admin</a></li>
            {{/if}}
        </ul>
        <div class="drawer-footer">
            <a href="https://nush.app" target="_blank"><small>@Appventure
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-up-right-square"
                     fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                          d="M14 1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                    <path fill-rule="evenodd"
                          d="M5.172 10.828a.5.5 0 0 0 .707 0l4.096-4.096V9.5a.5.5 0 1 0 1 0V5.525a.5.5 0 0 0-.5-.5H6.5a.5.5 0 0 0 0 1h2.768l-4.096 4.096a.5.5 0 0 0 0 .707z"/>
                </svg>
            </small></a>
        </div>
    </div>
</div>
<div class="container">
    {{{body}}}
</div>

{{> firebase/firebase}}
<script src="/js/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>
<script src="/js/drawer.min.js"></script>
</body>
</html>